.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .container {
  max-width: 700px;
}
}

.hero__title {
  color: getColor(white-text);
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}